@import './variables.scss';

.filter {
  height: 200px; 
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  height:100%;
  width: 100%;
}

.secondRow {
  gap: 120px;
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textboxContainer {
  display: flex;
  padding: 30px 0;
}

.textbox {
  margin: 0 auto;
  width: 50%;
  padding: 0 31px;
}