@import './mixins.scss';

.pills {
  display: flex;
  flex-direction: row;
  gap: $spacing;
  flex-wrap: wrap;

  .pill {
    @include pill;
  }

  @include viewport(tablet) {
    gap: $desktop-spacing;
  }
}