@import './mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 100%;
}

.infiniteScroll {
  padding: 10px;
}

.card {
  margin-bottom: 20px;

  @include viewport(tablet) {
    margin-bottom: 30px;
  }
}
