@import './mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  width: 100%;
}

.infiniteScroll {
  padding: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;

  @include viewport(desktop) {
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}
