@import './mixins.scss';

.card {
  display: grid;
  gap: $spacing;
  grid-template-areas:
  "img secondary"
  "primary secondary";
  grid-template-columns: 3fr 1fr;

  @include viewport(tablet) {
    gap: $desktop-spacing;
    grid-template-areas: "img primary secondary";
    grid-template-columns: 100px 3fr 1fr;
  }
}

.img {
  border-radius: 50%;
  display: flex;
  grid-area: img;
  height: 100px;
  overflow: hidden;
  width: 100px;
}

.primary {
  display: flex;
  flex-direction: column;
  gap: $spacing;
  grid-area: primary;
}

.secondary {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-area: secondary;
}

.pills {
  display: flex;
  flex-direction: row;
  gap: $spacing;

  .pill {
    @include pill;
  }

  @include viewport(tablet) {
    gap: $desktop-spacing;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: $spacing;

  .button {
    @include button;
  }

  @include viewport(tablet) {
    gap: $desktop-spacing;
  }
}

.workdays {
  margin: auto;
}
