@import './mixins.scss';

.card {
  display: grid;
  gap: $spacing;
  grid-template-areas:
  "img secondary"
  "primary secondary";
  grid-template-columns: 3fr 1fr;

  @include viewport(tablet) {
    gap: $desktop-spacing;
    grid-template-areas: "img primary secondary";
    grid-template-columns: 100px 3fr 1fr;
  }
}

.img {
  border-radius: 50%;
  display: flex;
  grid-area: img;
  height: 100px;
  overflow: hidden;
  width: 100px;
}

.primary {
  display: flex;
  flex-direction: column;
  gap: $spacing;
  grid-area: primary;
}

.name {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
}

.address {
  font-weight: 300;
  font-size: 26px;
  line-height: 31px;
}

.additional {
  font-size: 20px;
  line-height: 31px;
  b{
    font-weight: 500;
  }
}

.secondary {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  grid-area: secondary;
}

.rate {
  font-size: 22px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: $spacing;
  font-size: 24px;
  font-weight: 300;

  .button {
    @include button;
    padding: 0px 20px;
  }

  @include viewport(tablet) {
    gap: $desktop-spacing;
  }
}

.workdays {
  margin: auto;
}
