@import './mixins.scss';

.card {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @include viewport(tablet) {
    gap: 30px;
  }
}

.img {
  border-radius: 50%;
  display: flex;
  overflow: hidden;
}
