@import './variables.scss';

@mixin viewport($media) {
  @if $media == big-mobile {
    @media screen and (min-width: $small) {
      @content;
    }
  }
  @if $media == tablet {
    @media screen and (min-width: $medium) {
      @content;
    }
  } @else if $media == desktop {
    @media screen and (min-width: $large) {
      @content;
    }
  } @else if $media == desktop-large {
    @media screen and (min-width: $extra-large) {
      @content;
    }
  } @else if $media == desktop-extra-large {
    @media screen and (min-width: $extra-extra-large) {
      @content;
    }
  }
}

@mixin padding() {
  padding: $spacing;

  @include viewport(tablet) {
    padding: $desktop-spacing;
  }
}

@mixin card($inclidePadding: true, $shadowColor: $shadow-color) {
  border-radius: 10px;
  box-shadow:  4px 4px 8px 0 $shadowColor;
  width: 100%;

  @if $inclidePadding {
    @include padding();
  }
}

@mixin pill() {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-color;
  border-radius: 10px;
  padding: 5px 10px;
}

@mixin button() {
  border: none;
  cursor: pointer;
  background: $button-color;
  border-radius: 10px;
  color: $white-color;
  padding: 5px 10px;

  &:hover {
   filter: brightness(0.85);
  }
}


