@import './variables.scss';

@mixin viewport($media) {
  @if $media == big-mobile {
    @media screen and (min-width: $small) {
      @content;
    }
  }
  @if $media == tablet {
    @media screen and (min-width: $medium) {
      @content;
    }
  } @else if $media == desktop {
    @media screen and (min-width: $large) {
      @content;
    }
  } @else if $media == desktop-large {
    @media screen and (min-width: $extra-large) {
      @content;
    }
  } @else if $media == desktop-extra-large {
    @media screen and (min-width: $extra-extra-large) {
      @content;
    }
  }
}

@mixin padding() {
  padding: 8px;

  @include viewport(tablet) {
    padding: 12px;
  }
}

@mixin card($inclidePadding: true, $shadowColor: $black-light-color) {
  border-radius: 10px;
  box-shadow:  4px 4px 8px 0 $shadowColor;
  width: 100%;

  @if $inclidePadding {
    @include padding();
  }
}


